* {
	background-color: transparent;	
}
window {
font-family: Roboto Mono Medium;
margin: 5px;
border-bottom: rgba(71, 0, 52, 0.8);
background-color: rgba(71, 0, 52, 0.8);
animation: slideIn 0.5s ease-in-out both;
}

#input {
margin: 6;
background-color:  rgba(71, 0, 52, 0.8);
} 

#entry{
  padding: 0.30em;
}

#text:selected {
  color: #ffffff;
}
 @keyframes slideIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
 }
